@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";
@import "modules/header.scss";
@import "modules/editor.scss";
@import "modules/buttons.scss";

body {
  background: #727279;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  column-gap: 20px;
  grid-template-rows: repeat(8, 50px);
  row-gap: 20px;
}
